@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common style stat */
.general-width{
    /* width: 1140px; */
    width: 1300px;
}
a , button{
    cursor: pointer;
}

p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}
.text-center{
   text-align: center;
}
h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 25px auto;
   
}
h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.coding-btn{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
   padding: 12px 20px;
   border: 1px solid rgb(13, 19, 33);
   opacity: 0.7;

}
.sub-coding-content{
    text-align: left;
    margin: 20px auto;
}
.inspiraing-content{
    width: 852px;
    margin: auto;
}


/* common style end */
body{
    font-family: Azeret Mono;
}
/* nav section start */
nav{
    display: flex;
    justify-content: space-around;
    margin: 38px auto;
}

header nav .nav-title{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
header nav .nav-button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
    cursor: pointer;
    }




/* nav section end */
/* banner section start */
    header .banner{
        display: flex;
        justify-content: center;
        background-image: url("../assets/Hero-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      
    }
    header .banner .content-section {
        width: 998px;
       
    }   
    header .banner .content-section .banner-img{
    margin-top: 30px;
    }
    header .banner .content-section .banner-heading{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin: 30px auto;
    }
    header .banner .content-section .btn{
   color: rgb(255, 255, 255);
   font-size: 20px;
   font-weight: 600;
   line-height: 23px;
   letter-spacing: 0%;
   text-align: center;
   border-radius: 8px;
   background: rgb(13, 19, 33);
   padding: 21px 24px 21px 24px;
   margin: 30px auto;
  
   }

/* banner section end */


/* main section start */

main .changing{
    margin: 80px auto ;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px ;
}
main .changing .web{
  margin: auto 35px;
}
main .sub-main-section{
    margin-top: 50px;
}

main .sub-main-section .coding{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 48px;
    
    
}
main .sub-main-section .coding .coding-content{
    width: 600px;
}

.coding-space{
    margin-top: 35px;
}

main .inspiraing{
    
     margin: auto;

}
 main .inspiraing .video-section{
    display: flex;
    justify-content: center;
 }

main .inspiraing .video{
  /* width: 1300px; */
  display: flex;
  justify-content: center;
  margin: 50px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 35px;

}
main .inspiraing .video-pay{
    
    border-radius: 16px;
}
main .skill-learn-section{
    margin: 150px auto;
}

main .skill-learn-section .skill-learn{
    display: flex;
    justify-content: center;
    
}
main .skill-learn .skills-name{
   display: flex;
   margin-top: 50px;
   gap: 30px;
}
main .skills-name .html{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}
main .skills-name .html-title{
    margin-top: 30px;
}
main .skills-name .css{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
}
main .skills-name .js{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
}
.learn-more{
   color: rgb(13, 19, 33);
   font-size: 16px;
   font-weight: 700;
   line-height: 19px;
   letter-spacing: 0%;
   text-align: left;
   text-decoration-line: underline;
   text-decoration-thickness: 2px;
   text-decoration-color: rgb(13, 19, 33);
}
main .advance-sector{
    margin: 50px auto;
}
main .advance-section{
    width: 1300px;
    margin: auto;
}

main .advance-section .advance-sector .next-targets{
    display: flex;
    gap: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    margin-bottom: 20px;
  

}
main .advance-section .advance-sector .next-targets .img-position{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* main section end */

/* footer section start */
footer .footer-banner{
    width: 1300px;
    margin: auto;
    border-radius: 16px;
    background-image: 
    linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    padding: 64px;
    margin-bottom: 100px;
}
footer .footer-content .footer-heading{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

footer .footer-content .support-msg{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 16px auto 30px;

}
footer .footer-content .support-form{
   text-align: center;
  
}

input[type=text]{
    width: 600px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px;
}
input[type=submit]{
      padding: 15px 20px;
      border-radius: 8px;
      background: rgb(255, 255, 255);
      color: rgb(13, 19, 33);
      font-size: 20px;
      font-weight: 600;
      line-height: 23px;
      letter-spacing: 0%;
      text-align: center;
      border: none;
      cursor: pointer;
}
input[type=text]::placeholder{
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;    
    letter-spacing: 0%;
}
footer .commitment{
    
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: center;
}
footer .social-media-section{
    width: 1300px;
    height: 100px;
   border-radius: 16px;
   display: flex;
   justify-content: space-between;
  align-items: center;
   
}
footer .social-media-section .commit{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
   
}
footer .social-media-section .soci-icon{
    display: flex;
}
footer .soci-icon .items{
    list-style-type: none;
    margin-left: 20px;
}
footer .soci-icon .icon{
    font-size: 30px;
   
}
footer .soci-icon .fa-facebook{
    color: rgb(0, 128, 255);
}
footer .soci-icon .fa-github{
    color: rgb(0, 0, 0);
}
footer .soci-icon .fa-linkedin{
    color: #0D7AB6;
}





/* footer section end */